@import "fruits-vue-components/GlobalComponents/globals.scss";


.content-box {
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-content {
    padding: 3rem 0;
    max-width: 70vw;
}

.title {
    @extend .primary-text;
    font-family: $primary-font-family;
    font-weight: bold;
    letter-spacing: -1.6px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.subtitle {
    color: $secondary-color;
    font-family: $primary-font-family;
    font-weight: bold;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 3rem;
}

.content {
    @extend .secondary-text;
    text-align: justify;
    font-family: $primary-font-family;
    opacity: 1;
    white-space: pre-wrap;
}

@media (min-width: 426px) {
    .title {
        font-size: 80px;
    }
    .subtitle {
        font-size: 24px;
    }
    .content {
        font-size: 24px/40px;
        letter-spacing: 0.24px;
    }
}

@media (max-width: 426px) {
    .title {
        font-size: 50px;
        line-height: 50px;
    }
    .subtitle {
        font-size: 16px;
    }
    .content {
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 20px;
    }
}