.content-box
    .title(v-if='title') {{ title }}
    .button-section
        .line
        .d-block
            img.img-fluid.flex-grow-1(
                v-bind:src='left_image_url' 
                v-bind:alt='left_image_alt'
            )
        a.btn.btn-primary.btn-l(v-if='url' role='button' v-bind:href='url') {{ button_content }}
        .d-block
            img.img-fluid.flex-grow-1(
                v-bind:src='right_image_url' 
                v-bind:alt='right_image_alt'
            )
        .line
    .content(v-if='content') {{ content }}