@import "fruits-vue-components/GlobalComponents/globals.scss";

.title {
    @extend .primary-text;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 3rem;
}

.content {
    @extend .secondary-text;
    color: $secondary-color;
    font-size: 28px;
    letter-spacing: 0.48px;
    opacity: 1;
    white-space: pre-wrap;
    margin-bottom: 6rem;
}

.order-lg-first {
    .description-text {
        padding-right: 2rem;
    }
}

.text-lg-right {
    .title {
        color: $secondary-color;
    }

    .content {
        color: $light-color;
    }
}

.link {
    margin-top: 4rem;
}

.btn, .btn:disabled {
    /* Layout Properties */
    height: 48px;
    /* UI Properties */
    background: $secondary-color 0% 0% no-repeat padding-box;
    border-color: $secondary-color;
    border-radius: 6px;
}

.btn:hover {
    background-color: $secondary-color-lighter;
    border-color: $secondary-color-lighter;
}

.btn:disabled {
    background-color: $secondary-color-darker;
    border-color: $secondary-color-darker;
}

.btn-l {
    padding: .75rem 1.25rem;
    font-family: $primary-font-family;
    font-size: 1rem;
    font-weight: 700;
}

@media (min-width: 769px) {
    .title {
        font-size: 50px;
    }

    .content {
        font-size: 28px;
    }
    
    .btn, .btn:disabled {
        width: 200px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .title {
        font-size: 40px;
    }
    
    .content {
        font-size: 22px;
    }

    .btn, .btn:disabled {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .title {
        font-size: 25px;
        margin-bottom: 3rem;
    }
    
    .content {
        font-size: 22px;
    }

    .link {
        margin-top: 3rem;
    }

    .btn, .btn:disabled {
        width: 100%;
    }
}
