li.nav-item.btn-language
    div(v-if='current_language == "EN"')
        a.turn-on(:href='languages[0].url') {{ languages[0].name }}
        a.turn-off(:href='languages[1].url') {{ languages[1].name }}
    div(v-else)
        a.turn-off(:href='languages[0].url') {{ languages[0].name }}
        a.turn-on(:href='languages[1].url') {{ languages[1].name }}
