@import '../styles/variables';
@import '../../../helper-vue-components/src/IconLinks/ButtonIconLink2/Style.scss';

.btn-dark {
    color: $primary-color;
    background-color: $ma-bg-01;
    border-color: $ma-bg-01;
}

.btn-social {
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 0;
}
