@import "../../styles/variables";

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(
        to bottom,
        $ma-light 0%,
        $ma-light 10%,
        $light-color 10%,
        $light-color 100%
    );
}

.content {
    max-width: 1128px;
    padding: 5rem;
    /* UI Properties */
    background: $light-color 0% 0% no-repeat padding-box;
    box-shadow: 0px 50px 80px $box-shadow;
    border-radius: 12px;
    opacity: 1;
}
