.text-content
    .title(v-if='title') {{ title }}
    .content(v-if='content') {{ content }}
    .link
        a.btn.btn-primary.btn-l(v-if='url' role='button' v-bind:href='url') {{ button_content }}