.content-box.text-center
    .d-block
        img.img-fluid.flex-grow-1(
            v-bind:src='image_url'
            v-bind:alt='image_alt'
        )
    .text-content
        .title(v-if='title') {{ title }}
        .subtitle(v-if='subtitle') {{ subtitle }}
        .content(v-if='content') {{ content }}
        .link
            a.btn.btn-primary.btn-l(v-if='url' role='button' v-bind:href='url') {{ button_content }}
    .d-block
        img.img-fluid.flex-grow-1(
            v-bind:src='image2_url'
            v-bind:alt='image2_alt'
        )
