@import 'fruits-vue-components/GlobalComponents/globals.scss';

.footer {
    background-color: $primary-color;
    padding: 7rem 0 5rem 0;

}

.logo-icon {
    font-size: 6rem;
    color: $ma-red;
    padding-bottom: 2rem;

    &:hover {
        color: $ma-hover;
    }
}

.copyright {
    width: 100%;
    color: $light-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    white-space: pre;

    div {
        width: 360px;
    }
}
