@import 'fruits-vue-components/GlobalComponents/globals.scss';

.navbar {
    background-color: $ma-bright !important;
    min-height: $topbar-base-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-bg-color;
    font-family: $primary-font-family;
    padding: 25px 65px 25px 40px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    i {
        margin-left: 15px;
    }

    &:focus {
        box-shadow: none;
    }
}

.menu {
    display: flex;
    align-items: center;
}

.navbar-nav {
    align-items: center;
}

.nav-item {
    margin-left: 1.5rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 0rem;
    &:hover {
        color: $secondary-color-lighter;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-toggler {
        display: flex;
        padding: .25rem 0;
    }
}

@media only screen and (max-width: 425px) {
    .navbar {
        padding: 15px;
        justify-content: center;
    }

    .navbar-collapse {
        justify-content: center;
    }
}

@media only screen and (max-width: 320px) {
    .button-menu {
        display: none;
    }
}