nav.navbar.navbar-expand.navbar-light.bg-gradient.topbar.static-top
    .logo
        a(href='/home') Rólunk
        dynamic-component.brand-section(
            v-bind:component_infos='brand_section'
        )
        a.text-end(href='/products') Termékeink
    .btn-language(v-if='language == "HU"')
        div
            a.turn-on(:href='current_url') HU
            a.turn-off(:href='current_url + "/en"') EN
    .btn-language(v-else)
        div
            a.turn-off(:href='current_url') HU
            a.turn-on(:href='current_url + "/en"') EN
