footer.footer
    .text-center
        img.img-fluid(
            v-bind:src='image_url'
            v-bind:alt='image_alt'
        )
    .copyright
        .text-center {{ copyright.content }}
    .w-100.d-flex.justify-content-center
        dynamic-component.text-center(
            v-bind:component_infos='icon_links_section'
        )
