@import "../../styles/variables";
@import '~bootstrap/scss/bootstrap';

.content-box {
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-content {
    padding: 3rem 0;
    max-width: 70vw;
}

.title {
    @extend .primary-text;
    color: $secondary-color;
    font: normal normal bold 50px $primary-font-family;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 3rem;
}

.content {
    @extend .secondary-text;
    @extend .text-muted;
    text-align: justify;
    font: normal normal normal 28px $primary-font-family;
    letter-spacing: 0.28px;
    opacity: 1;
    white-space: pre-wrap;
}

.link {
    margin-top: 2rem;
}

.btn, .btn:disabled {
    /* Layout Properties */
    width: 200px;
    height: 48px;
    /* UI Properties */
    background: $secondary-color 0% 0% no-repeat padding-box;
    border-radius: 6px;
}

.btn:hover {
    color: $primary-color;
    background-color: $light-color;
    border-color: $light-color;
}

.btn-l {
    padding: .75rem 1.25rem;
    font-family: $primary-font-family;
    font-size: 1rem;
    font-weight: 700;
}
